doctype html
html
  head
    title the weather
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    link(type="text/css", rel="stylesheet", href="http://openfontlibrary.org/face/glacial-indifference") 
    link(type="text/css", rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
    link(type="text/css", rel="stylesheet", href="style.css")
    script(src="script.js")
  body
    #weather
      | it's
      #temp something
      | and
      #cond you need to wait because ajax is slow
